<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Akhil::top_level" module="Akhil_Shop" resource="Magento_Backend::content" sortOrder="9999" title="Akhil"/>
        <add id="Akhil_Shop::shop" title="Manage Shops" module="Akhil_Shop" sortOrder="100" parent="Akhil::top_level" resource="Akhil_Shop::shop" action="akhilshop/contacts"/>
        <add id="Akhil_Shop::config" title="Settings" module="Akhil_Shop" sortOrder="101" parent="Akhil::top_level" resource="Akhil_Shop::shop" action="admin/system_config/edit/section/shop"/>
    </menu>
</config>
