<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="shop" sortOrder="999" translate="label">
			<label>Manage Shop</label>
		</tab>
		<section id="shop" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Shop</label>
			<tab>shop</tab>
			<resource>Akhil_Shop::config_akhil_shop</resource>
			<group id="shop" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Manage Shop</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment/>
				</field>
			</group>
		</section>
	</system>
</config>